<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Foto Tindak Lanjut</title>
</head>

<body>
    <%- include('template/sidebar.ejs') %>
        <%- include('template/loader.ejs') %>
            <div class='safeArea'>

                <div style='margin: 1em 0 0 0'>
                    <div class='topTitle'>Upload Foto Tindak Lanjut</div>
                    <div class='divider-orange'></div>
                </div>

                <div style='margin: 2em 0 0 0' class='d-flex flex-column align-items-center'>
                    <div class='text-white' style='font-size: 1.25em; margin: 0 0 2em; text-align: center;'>
                        <%= result.ID_CURRENT %>
                    </div>
                    <% if(result.STATUS_CURRENT == 'Terkirim' || result.STATUS_CURRENT == 'Closed' || result.STATUS_CURRENT == 'Pending') { %>
                        <div class='mb-2 d-flex w-100 text-center' style='z-index: 0;'>
                            <div class='buttonStylish mx-1 buttonCustom' id='buttonBefore' onclick="changePhoto('before')" style='cursor: pointer; margin: 0;'>Sebelum</div>
                            <div class='buttonStylishOutline mx-1 buttonCustom' id='buttonAfter' onclick="changePhoto('after')" style='cursor: pointer; margin: 0;'>Sesudah</div>
                        </div>
                        <% } %>
                            <div class='imgViewer'>
                                <img id='imgPreview' src='/image/<%= result.IMAGE_CURRENT %>before.jpeg'>
                            </div>
                            <div style="padding: 0 2em" class='text-center'>
                                <div style='margin: 2em 0'>
                                    <div class=' inputTitle text-white '>Topik / Lokasi</div>
                                    <div class='text-orange ' style='font-size: 1.25em; '>
                                        <%= result.TOPIC_CURRENT %>
                                    </div>
                                    <div class='inputTitle text-white '>Permasalahan</div>
                                    <div class='text-orange ' style='font-size: 1.25em; '>
                                        <%= result.PROBLEM_CURRENT %>
                                    </div>
                                    <div class='inputTitle text-white '>Tindak Lanjut / Saran</div>
                                    <div class='text-orange ' style='font-size: 1.25em; '>
                                        <%= result.SUGGEST_CURRENT %>
                                    </div>
                                </div>
                                <div class='divider-orange' style='margin: 2em 0'></div>
                                <div class='inputTitle text-white '>Deadline</div>
                                <div class='text-orange ' style='font-size: 1.25em; font-weight: 500;'>
                                    <%= result.DATE_DUE %>
                                </div>
                                <% if(result.COMMENT_MANAGER !== '') { %>
                                    <div class='inputTitle text-white '>Komentar Manager</div>
                                    <div class='text-orange ' style='font-size: 1.25em; font-weight: 500;'>
                                        <%= result.COMMENT_MANAGER %>
                                    </div>
                                    <% } %>
                            </div>
                            <div class='w-100'>
                                <form method='post' enctype="multipart/form-data" class='d-flex flex-column mt-5 align-items-center w-100' autocomplete="off" id='submitPhotoAfter'>
                                    <button type='button' class='buttonStylishOutline w-75' style='margin: 0 auto 2em' onclick='document.getElementById("imageUpload").click()'>Pilih Foto</button>
                                    <input type='file' accept='image/*' name='imgAfter' id='imageUpload' style='display: none' required>
                                    <div class='submitter w-100 flex-column align-items-center' style='display: none; text-align: center;'>
                                        <div class='imgViewer'>
                                            <img id='imgPreviewAfter'>
                                        </div>
                                        <div class='inputTitle text-white'>Komentar</div>
                                        <div class='background-black py-1 w-100'>
                                            <input type='text' name='commentInput' class='inputStylish text-orange w-100'>
                                        </div>
                                    </div>
                                    <button class='buttonStylish w-75' style='display:none; margin: 2em auto 0;' id='buttonUpload'>Selesai</button>
                                </form>
                            </div>
                </div>

            </div>
</body>

<% if(result.STATUS_CURRENT == 'Terkirim' || result.STATUS_CURRENT == 'Closed' || result.STATUS_CURRENT == 'Pending') { %>
    <script>
        var btnBefore = document.getElementById('buttonBefore')
        var btnAfter = document.getElementById('buttonAfter')
        var img = document.getElementById('imgPreview')

        function changePhoto(status) {
            switch (status) {
                case 'before':
                    btnAfter.classList.remove('buttonStylish');
                    btnAfter.classList.add('buttonStylishOutline');

                    btnBefore.classList.add('buttonStylish');
                    btnBefore.classList.remove('buttonStylishOutline');

                    img.setAttribute('src', '/image/' + "<%= result.ID_CURRENT %>" + 'before.jpeg')

                    break;
                case 'after':
                    btnBefore.classList.remove('buttonStylish');
                    btnBefore.classList.add('buttonStylishOutline');

                    btnAfter.classList.add('buttonStylish');
                    btnAfter.classList.remove('buttonStylishOutline');

                    img.setAttribute('src', '/image/' + "<%= result.ID_CURRENT %>" + 'after.jpeg')
                    break;
            }
        }
    </script>
    <% } %>

        <script>
            var uploader = document.getElementById('imageUpload')
            uploader.addEventListener('change', function(event) {
                const [img] = uploader.files
                if (img) {
                    document.getElementById('imgPreviewAfter').src = URL.createObjectURL(img)
                    document.getElementsByClassName('submitter')[0].style.display = 'flex';
                    document.getElementById('buttonUpload').style.display = 'block';
                }

            })
        </script>

</html>