<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Laporan Berjalan</title>
</head>

<body>

    <%- include('../template/sidebar.ejs') %>
        <%- include('../template/loader.ejs') %>


            <div class='safeArea'>
                <div style='margin: 2em 0'>
                    <div class='topTitle'>Laporan Berjalan</div>
                    <div class='divider-orange'></div>
                    <div class='mainContent text-white d-flex flex-column background-black' style='text-align: center; margin: 0.5em 0 0 0;'>
                        <div class='w-100 d-flex' style="font-weight: 400; padding: 0 0 0 0">
                            <div class='col-4 justify-content-center align-items-center d-flex background-orange py-1'>
                                Masalah
                            </div>
                            <div class='col-4 justify-content-center align-items-center d-flex background-darkorange py-1'>
                                Deadline
                            </div>
                            <div class='col-4 justify-content-center align-items-center d-flex background-orange py-1'>
                                PIC
                            </div>
                        </div>
                        <% number = 0 %>
                            <% for (const resultList of result) { %>
                                <%  if(number % 2 == 0) {
                                    color = 'background-semi'
                                    if(today >= resultList.DATE_DUE){
                                        color = color + 'darkred1'
                                    } else {
                                        color = color + 'darkgrey1'
                                    }
                                    
                                } else {
                                    color = 'background-semi'
                                    if(today >= resultList.DATE_DUE){
                                        color = color + 'darkred2'
                                    } else {
                                        color = color + 'darkgrey2'
                                    }
                                    
                                }
    
                                %>

                                    <div class='w-100 d-flex py-3 <%= color %> table-row' onclick="window.location='/report/current/<%= resultList.ID_CURRENT %>'">
                                        <div class='col-4 justify-content-center align-items-center d-flex px-1'>
                                            <%= resultList.PROBLEM_CURRENT %>
                                        </div>
                                        <div class='col-4 justify-content-center align-items-center d-flex px-1'>
                                            <%= resultList.DATE_DUE %>
                                        </div>
                                        <div class='col-4 justify-content-center align-items-center d-flex px-1'>
                                            <%= resultList.REAL_NAME %>
                                        </div>
                                    </div>
                                    <% number++ %>
                                        <% } %>
                    </div>
                    <%- include('../template/pagination') %>
                </div>
            </div>

</body>

</html>